base(href="/s/")

//- link(rel="stylesheet" href="/lib/bootstrap.css")
link(rel="stylesheet" href="lib/normalize.css")
link(rel="stylesheet" href="lib/toastr.css")
link(rel="stylesheet" href="lib/global.css")
link(rel="stylesheet" href="lib/presets.css")

//- script(src="/lib/bootstrap.js")
script(src="lib/jquery.js")
script(src="lib/toastr.js")

link(rel="stylesheet" href="src/" + viewName + ".css")
script(src="src/" + viewName + ".js")