html
    head
        title Photo Cloud

        meta(name="viewport" content="width=device-width, initial-scale=1")

        include lib/templates/includes.pug

    body
        header
            button#logout Log out
        main
        footer
